div#controls {
    background-color: rgb(206, 116, 255);
    margin: 2em;
    padding: 1em;
    border-style: solid;
    border-color: rgb(172, 98, 255);
    border-width: 5px;
    border-radius: 15px;;
}